@model Web_Inlupp.ViewModel.ListUserViewModel

@{
    ViewData["Titel"] = "Edit User";
}

<a class="btn btn-primary mt-4 mb-4" asp-action="NewUser">Add New User</a>

<div class="card shadow-sm border-0 reset-anchor d-block ">
    <div class="card-header">Users</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                </tr>
            </thead>
            @foreach (var user in @Model.Users)
            {
                <tbody>
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <a class="btn btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                        </td>
                        <td>
                            <form method="post">
                                <button class="btn btn-danger list-inline-item m-1" asp-action="DeleteUser" asp-route-Id="@user.Id" onclick="return confirm('Are your sure you?')"><i class="mr-2"></i>Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>