@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@model Web_Inlupp.ViewModel.ProductDetailsViewModel
@{ ViewData["Title"] = "Product Details"; }


<section class="hero d-flex align-items-end py-5 bg-cover bg-center" style="background: url(https://picsum.photos/seed/picsum/1000/1100)">
    <div class="container index-forward py-5 py-lg-0">
        <div class="row align-items-end">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <div class="media align-items-center">
                    <img class="rounded-circle" src="" alt="" width="80">
                    <div class="media-body ml-3">
                        <h1 class="text-white">@Model.Name</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 text-lg-right">
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Product Manager"))
                {
                    <a class="btn btn-primary list-inline-item m-1" asp-controller="ProductManager" asp-action="ProductEdit" asp-route-Id="@Model.Id"> <i class="mr-2"></i>Edit</a>

                    <form method="post">
                        <button class="btn btn-danger list-inline-item m-1" asp-controller="ProductManager" asp-action="ProductDelete" asp-route-Id="@Model.Id"> <i class="mr-2"></i>Delete</button>
                    </form>
                }
            </div>
            </div>
    </div>
</section>

<section class="py-5">
    <div class="container py-5">

        <div class="card-header text-center">
            <h3 class="d-inline-block">Category: @Model.Category.CategoryName</h3>
        </div>
        <!-- About-->
        <div class="card border-0">
            <div class="card-body text-center">
                <h2 class="h3 mb-4">About @Model.Name </h2>
                <p>@Model.Description</p>
                <h5>Price: @Model.Price.ToString("C")</h5>
            </div>
        </div>
        <a class="btn btn-dark" asp-controller="ProductManager" asp-action="ProductEdit" asp-route-Id="@Model.Id"> <i class="mr-2"></i>Add to Cart</a>

        <!-- Gallery-->
        <div class="card border-0 shadow-sm">
            <div class="card-body p-lg-5 float-left">
                <h2 class="h3 mb-4">Gallery</h2>
                <div class="owl-thumb-item col-3 px-2"><img src="https://picsum.photos/400" alt="Car part"></div>
            </div>
        </div>
    </div>
</section>