@using Microsoft.CodeAnalysis
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;

@model Web_Inlupp.ViewModel.ProductIndexViewModel
@{
    ViewData["Title"] = "Shop";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <!-- Filter-->
            <div class="col-lg-3 order-2 order-lg-1">
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Product Manager"))
                {
                    <a class="btn btn-dark btn-block"
                       asp-controller="ProductManager"
                       asp-action="ProductNew">Creat new Product</a>
                }
                <h2 class="h3 mb-4 pb-1">Filter</h2>
                <form action="#">
                    <div class="card border-0 shadow-sm mb-4 p-2">
                        <div class="card-body">
                            <h2 class="h5 mb-4">Choose category</h2>
                            @foreach (var cat in Model.products)
                            {
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" name="category">
                                    <label>@cat.Category.CategoryName</label>
                                </div>
                            }
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit"> <i class="fas fa-search mr-2 small"></i>Search</button>
                </form>
            </div>
            <!-- Listing-->
            <div class="col-lg-9 mb-5 mb-lg-0 order-1 order-lg-2">
                <!-- Listing sorting-->
                <div class="row mb-4 align-items-center">
                    <div class="col-md-7">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item my-1 my-lg-0">
                                <label>Sort</label>

                                <select class="selectpicker" name="sort" data-style="btn btn-light shadow-xs bg-white border" data-title="Sort By" data-width="180">
                                    <option value=""></option>
                                    <option value="alphapitcally">Alphapitcally</option>
                                    <option value="highest-price">Highest Price</option>
                                    <option value="lowest-price">Lowest Price</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-md-right">
                        <p class="h6 mb-0 p-3 p-md-0">Showing @Model.products.Count results</p>
                    </div>
                </div>
                <!-- Listing items-->
                <div class="row mb-4">
                    @foreach (var product in @Model.products)
                    {
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow-sm border-0 reset-anchor d-block hover-transition">
                                <a class="d-block dark-overlay card-img-top overflow-hidden tool-trending" href="detail.html">
                                </a>
                                <div class="card-body p-4">
                                    <h3 class="h5"> <a class="stretched-link reset-anchor">@product.Name</a></h3>
                                    <p class="h5"> <a class="stretched-link reset-anchor" asp-action="ProductDetails" asp-route-id="@product.Id">@product.Price.ToString("C")</a></p>
                                    <p class="text-muted text-small mb-0">@product.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Pagination-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item mx-1"><a class="page-link rounded border-0 shadow-sm px-3" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item mx-1 active"><a class="page-link rounded border-0 shadow-sm px-3" href="#">1</a></li>
                            <li class="page-item mx-1"><a class="page-link rounded border-0 shadow-sm px-3" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>