@using Microsoft.CodeAnalysis
@using Microsoft.AspNetCore.Identity
@using Web_Inlupp.Data
@using Web_Inlupp.ViewModel
@inject SignInManager<IdentityUser> SignInManager;

@model Web_Inlupp.ViewModel.ProductIndexViewModel
@{
    ViewData["Title"] = "Shop";
    var categories = (List<CategoryIndexViewModel.CategoryViewModel>)ViewData["Categories"];
    if (categories == null)
    {
        categories = new List<CategoryIndexViewModel.CategoryViewModel>();
    }

    string activeController = "";
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        activeController = ViewContext.RouteData.Values["Controller"].ToString();
    }

}

<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Product Manager"))
                {
                    <a class="btn btn-dark btn-block"
                       asp-controller="ProductManager"
                       asp-action="ProductNew">Creat new Product</a>
                }
                <!-- Filter category-->
                <div class="card">
                    <div class="card-header font-weight-bold">Filter</div>
                    <div class="card-body">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="ShopIndex" asp-route-id=@null>All</a>
                                @foreach (var category in categories)
                                {
                                    <a class="dropdown-item" asp-action="ShopIndex" asp-route-id="@category.Id">@category.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 mb-5 mb-lg-0 order-1 order-lg-2">
                <!-- Listing sorting-->
                <div class="row mb-4 align-items-center">
                    <div class="dropdown">
                        <form asp-action="ShopIndex" method="get">
                            <div class="form-group">
                                <label asp-for="SelectSort">Sort</label>
                                <select class="form-control"
                                        asp-for="SelectSort"
                                        asp-items="Model.SortingList" name="order"></select>
                            </div>
                            <button class="btn btn-primary" type="submit">Sök</button>
                        </form>
                    </div>
                    <div class="col-md-5 text-md-right">
                        <p class="h6 mb-0 p-3 p-md-0">Showing @Model.Products.Count results</p>
                    </div>
                </div>
                <!-- Listing items-->
                <div class="card shadow-sm border-0 reset-anchor d-block hover-transition">
                    <div class="card-header">Products</div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            @foreach (var product in @Model.Products)
                            {
                                <tbody>
                                    <tr>
                                        <td>@product.Name</td>
                                        <td>@product.Category.CategoryName</td>
                                        <td>@product.Price.ToString("C")</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="ProductDetails" asp-route-id="@product.Id">Info</a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>